:root {
  font-size: 16px; 
  --primary-color: #333333;
  --secondary-color: #555555;
  --link-color: #007BFF;
}

body {
  font-family: 'Lexend Regular', sans-serif;
}

h1, h2 {
  font-family: 'Evil of Frankenstein', sans-serif;
  color: var(--primary-color);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: var(--secondary-color);
}

.welcomepage-text-box ,
.aboutme-section {
  padding: 2rem;
  margin-bottom: 2rem;
  background: #f8f9fa;
  border-radius: 10px;
  position: relative;
}

.welcome-container {
  display: flex;
}

.section-shape h2 {
  cursor: pointer;
}

.aboutme-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.aboutme-logo,
.camera-logo,
.emoji-logo {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

img {
  max-width: 100%;
  height: auto;
}
