/* Header.css */
.main-header {
  display: flex;
  background-color: #ababac;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem;
}

.nav {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
}
.home-nav-link {
  padding-left: 2rem;
}
.nav-link {
  font-family: 'Evil of Frankenstein', sans;
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem !important;
  padding: 1rem;
}

.nav-link:hover {
  color: #412b6f;
}

.logo {
  height: 7rem;
}

@media screen and (max-width: 1172px) {
  .main-header {
    margin-bottom: 6rem;
  }
}